.autoteka-pluses__wrap
  .autoteka-pluses
    max-width: 1300px;
    line-height 18px;
    margin 0 auto;
    padding 80px 10px;

    &__car-img-wrap
      height 128px;
      align-items end;

    &__red-car
      height 128px;

    &__blue-car
      height 112px;

    &__green-car
      height 128px;

    &__header
      font-size: 32px;
      line-height: 36px;
      font-family: 'EuclidCircularB',Tahoma,Verdana,Arial,sans-serif;
      font-weight: 600;
      margin-bottom 40px;

    &__content
      max-width: 383px;
      &-wrapper
        gap 65px;

      &-header
        margin 30px 0 16px;
        font-size: 26px;
        line-height: 32px;
        font-family: 'EuclidCircularB',Tahoma,Verdana,Arial,sans-serif;
        font-weight: 600;

      &-text
        font-size: 16px;
        line-height: 24px;
        font-family: 'Avito Mobile Sans',Tahoma,Verdana,Arial,sans-serif;
        font-weight: 400;