.autoteka-database_wrap
  padding 80px 0 80px;

  .autoteka-database
    max-width 1300px
    margin 0 auto;
    padding 0 10px;

    &__header
      font-size: 32px;
      line-height: 36px;
      font-family: 'EuclidCircularB', Tahoma, Verdana, Arial, sans-serif;
      font-weight: 600;
      margin-bottom 16px;

    &__description
      font-size: 16px;
      line-height: 22px;
      margin-bottom 20px;
      font-family: 'Avito Mobile Sans', Tahoma, Verdana, Arial, sans-serif;
      font-weight: 400;

    &__partners
      display grid;
      grid-template-columns repeat(5, 1fr);
      grid-auto-rows: 1fr;
      column-gap 150px;
      align-items center;

      .grid-element__wrap
        width 135px;
        height 90px;
        text-align center;
        opacity .5;


      .rolf
        background: url("/img/partners/1.png") center center no-repeat;
        background-size 100px 34px;

      .avtomir
        background: url("/img/partners/2.png") center center no-repeat;
        background-size 103px 35px;

      .transtech
        background: url("/img/partners/3.png") center center no-repeat;
        background-size 93px 40px;

      .keyauto
        background: url("/img/partners/4.png") center center no-repeat;
        background-size 80px 55px;

      .byuro
        background: url("/img/partners/5.png") center center no-repeat;
        background-size 98px 35px;

      .fitservice
        background: url("/img/partners/6.png") center center no-repeat;
        background-size 134px 36px;

      .road
        background: url("/img/partners/7.svg") center center no-repeat;
        background-size auto 75%;

      .filtr
        background: url("/img/partners/8.png") center center no-repeat;
        background-size 134px 36px;

      .audatex
        background: url("/img/partners/9.png") center center no-repeat;
        background-size 130px 39px;

      .avito
        background: url("/img/partners/10.png") center center no-repeat;
        background-size 107px 31px;

      .willgood
        background: url("/img/partners/11.png") center center no-repeat;
        background-size 115px 32px;

      .euroauto
        background: url("/img/partners/12.png") center center no-repeat;
        background-size 115px 38px;

      .automama
        background: url("/img/partners/13.png") center center no-repeat;
        background-size 150px 50px;

      .kanauto
        background: url("/img/partners/14.png") center center no-repeat;
        background-size 103px 35px;

      .ladacentr
        background: url("/img/partners/15.png") center center no-repeat;
        background-size 75px 50px;

      .buisnesscar
        background: url("/img/partners/16.svg") center center no-repeat;
        background-size 134px 25px;

      .dasauto
        background: url("/img/partners/17.svg") center center no-repeat;
        background-size 93px 36px;

      .agat
        background: url("/img/partners/18.svg") center center no-repeat;
        background-size 96px 46px;

      .uremont
        background: url("/img/partners/19.svg") center center no-repeat;
        background-size 118px 51px;

      .migtorg
        background: url("/img/partners/20.svg") center center no-repeat;
        background-size 116px 37px;
