.autoteka-carousel__wrap
  background: rgb(242, 239, 233);
  padding 80px 0 38px;

  .autoteka-carousel__header
    font-size: 32px;
    line-height: 36px;
    font-family: 'EuclidCircularB',Tahoma,Verdana,Arial,sans-serif;
    font-weight: 600;
    padding-left 24px;
    max-width 1300px
    margin 0 auto 36px;

  .autoteka-carousel
    max-width 1300px
    margin 0 auto;

    .carousel-width
      max-width 661px;

    .carousel-list
      width 687px;
      flex-direction column;

      &__item
        border-radius 6px;
        width 490px
        height 58px;
        padding-left 24px;
        display: flex;
        align-items center;
        color #000;
        font-family: 'EuclidCircularB',Tahoma,Verdana,Arial,sans-serif;
        font-weight: 600;
        font-size 20px;
        line-height 26px;

        &:hover
          color: #ff6163;

      &__item-active
        background-color #fff;
        transition background-color .3s ease;


    .carousel-el
      max-width 661px;
      padding 0 25px 25px;;

      &__header
        font-family: 'EuclidCircularB',Tahoma,Verdana,Arial,sans-serif;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        margin-bottom 16px;

      &__content
        font-size: 16px;
        line-height: 22px;
        font-family: 'Avito Mobile Sans',Tahoma,Verdana,Arial,sans-serif;
        font-weight: 400;
        margin-bottom 58px;

      &-img__wrap
        background #fff;
        border-radius 20px;
        padding 30px;
        box-shadow: 0 1px 3px rgba(0,0,0,.05), 0 4px 24px rgba(0,0,0,.12);
        min-height 490px;
        width 611px;


        .carousel-img
          width 551px;
