.check-auto__clone-wrap
  padding-bottom 80px;

  .check-auto__clone
    max-width 1300px
    margin 0 auto
    padding 0 10px;

    &-search-wrap
      margin: 24px 0 16px;

    &-header
      font-size: 32px;
      line-height: 36px;
      font-family: 'EuclidCircularB',Tahoma,Verdana,Arial,sans-serif;
      font-weight: 600;