@font-face
  font-family: 'Avito Mobile Sans';
  src: url(/assets/fonts/e14c050fa169167b5edf.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;


@font-face
  font-family: 'Avito Mobile Sans';
  src: url(/assets/fonts/e5d8fc7d11bdf3c2d228.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;

@font-face
  font-family: 'LatoWeb';
  src: url(/assets/fonts/75614cfcfedd509b1f7a.woff2) format('woff2'), url(/assets/fonts/1d2ca94dfba6f8d87cfd.woff) format('woff');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;


@font-face
  font-family: 'LatoWeb';
  src: url(/assets/fonts/21b3848a32fce5b0f501.woff2) format('woff2'), url(/assets/fonts/89b618086a797a8be0f4.woff) format('woff');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;


@font-face
  font-family: 'Lato-Light';
  src: url(/assets/fonts/e914f9f1fcd77ce4d1dd.woff2) format('woff2'), url(/assets/fonts/5ed7bb831d0ea76c0f1b.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;


@font-face
  font-family: 'IstokWeb';
  src: url(/assets/fonts/6abc47acba8b81eca862.woff2) format('woff2'), url(/assets/fonts/b7df852002fe2e71715d.woff) format('woff');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;


@font-face
  font-family: 'IstokWeb';
  src: url(/assets/fonts/f89b234ff80004ccce08.woff2) format('woff2'), url(/assets/fonts/006a0463cab6d6888b7d.woff) format('woff');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;


@font-face
  font-family: 'AvitoSans';
  src: url(/assets/fonts/e14c050fa169167b5edf.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;


@font-face
  font-family: 'EuclidCircularB';
  src: url(/assets/fonts/e6df03610c6ef88437cd.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;


@font-face
  font-family: 'EuclidCircularB';
  src: url(/assets/fonts/685285bb7d13d53da0f6.woff2) format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;


@font-face
  font-family: 'EuclidCircularB';
  src: url(/assets/fonts/80ea63f1fe7ac9e1799a.woff2) format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;